.apod-page {
  background-color: #0c0f1c;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.apod-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: stretch; 
}

.apod-image-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
}

.apod-image {
  margin: 1rem 0;
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.apod-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.apod-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.apod-date {
  color: #999;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.apod-explanation {
  font-size: 1rem;
  line-height: 1.6;
}


.hd-image-button {
  margin-top: 1.5rem;
  display: inline-block;
  padding: 10px 20px;
  color: #f1f5f9;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  transition: background-color 0.3s ease;
  align-self: start;
}

.hd-image-button:hover {
  color: #1e88e5;
}

.hd-link {
  display: block;
  margin-bottom: 1rem;
  color: #448aff;
  font-weight: bold;
  text-decoration: none;
}

.hd-link:hover {
  color: #f1f5f9;
}

@media (max-width: 768px) {
  .apod-container {
    flex-direction: column;
    text-align: center;
  }

  .apod-image-wrapper {
    height: auto;
  }

  .apod-image {
    height: auto;
  }
}
